<launch>
    <include file="$(find robot_traversability_and_explorer)/launch/bringup_gazebo.launch">
    </include>
    
    <include file="$(find robot_traversability_and_explorer)/launch/bringup_rviz.launch">
    </include>

    <include file="$(find robot_traversability_and_explorer)/launch/bringup_slam.launch">
    </include>

    <include file="$(find robot_traversability_and_explorer)/launch/bringup_move_base.launch">
    </include>
    
    <include file="$(find explore_lite)/launch/explore.launch">
    </include>
</launch>